<h1>{{title}}</h1>
<select name="bpm" #bpm>
  <option *ngFor="let bpm of bpmSelect"  value="{{bpm}}">{{bpm}}</option>
</select>

<table>
  <tr *ngFor="let line of objectTemplate.pattern;let i = index;">
    <td>
      <div [textContent]="objectTemplate.drumset[i] ? objectTemplate.drumset[i] + ': ' : 'snare: '"></div>
    </td>
    <td *ngFor="let column of line;let j = index;">
      <input type="checkbox" name="lines" value="{{i}},{{j}}" [attr.checked]="column ? 'checked' : null" disabled />
    </td>
  </tr>
</table>
<br />
<button (click)="PlayStop($event)">Play</button>
<br />
<br />
<a [routerLink]="['../../editor', id]">edit</a> <br>
