<h1>{{title}}</h1>
<form id="temp">
  <fieldset form="temp">
    <legend>Temp</legend>
    <select name="temp">
      <option value="100">100</option>
      <option value="110">110</option>
      <option value="120">120</option>
      <option value="130">130</option>
    </select>
  </fieldset>
</form>


<table>
  <tr>
    <td>Hi-Hat</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  <tr>
    <td>Snare</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  </tr>
  <tr>
    <td>Bass</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  </tr>
</table>
