<h1>{{title}}</h1>
<h3>{{editorService.patternObject.name}}</h3>

<input type="text" name='name' [attr.value]="editorService.patternObject.name" #nameValue />
<br /><br />
<select name="lineSelect" (change)="onLineSelect($event.target)" >
  <option *ngFor="let lineS of lineSelect" value="{{lineS}}">Line {{lineS}}</option>
</select>
<select name="columnSelect" (change)="onColumnSelect($event.target)" #selectColumns>
  <option *ngFor="let columnS of columnSelect" value="{{columnS}}">Column {{columnS}}</option>
</select>
<br /><br />

<table *ngIf="editorService.patternObject">
  <tr *ngFor="let line of editorService.patternObject.pattern;let i = index">
    <td>
      <select name="drumsetSelect" data-id='{{i}}' (change)="onDrumsetSelect($event.target)">
        <option *ngFor="let drumset of drumsetSelect" value="{{drumset}}">{{drumset}}</option>
        <!--{{editorService.patternObject.drumset[i]}}-->
      </select>
    </td>
    <td *ngFor="let column of line;let j = index;">
      <div class="check" (click)="onChangeCheck(i,j,column)">{{column}}</div>
    </td>
  </tr>
</table>
<br />
<button type="submit" (click)="onSave()">Save</button>
