<h1>{{title}}</h1>
<h3>{{editorService.patternObject.name}}</h3>
<input type="text" name='name' [attr.value]="editorService.patternObject.name" #nameValue />
<br /><br />
<select name="lineSelect" appChange >
  <option *ngFor="let lineS of lineSelect" value="{{lineS}}">Line {{lineS}}</option>
</select>
<select name="columnSelect" appChange>
  <option *ngFor="let columnS of columnSelect" value="{{columnS}}">Column {{columnS}}</option>
</select>
<br /><br />

<table *ngIf="editorService.patternObject">
  <tr *ngFor="let line of editorService.patternObject.pattern;let i = index">
    <td>
      <select name="drumsetSelect" data-id='{{i}}' appChange>
        <option *ngFor="let drumset of drumsetSelect" value="{{drumset}}">{{drumset}}</option>
        <!--{{editorService.patternObject.drumset[i]}}-->
      </select>
    </td>
    <td *ngFor="let column of line;let j = index;">
        <input type="checkbox" name="patternCheck" value="{{i}},{{j}}" [attr.checked]="column ? 'checked' : null" appChange />
    </td>
  </tr>
</table>
<br />
<button type="submit" (click)="submitOk()">Save</button>
<button type="submit" (click)="submitClear()">Clear</button>
