<h1>{{title}}</h1>
<form id="tableX">
  <fieldset form="tableX">
    <legend>X</legend>
    <select name="line">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    X
    <select name="column">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </fieldset>
</form>



<table>
  <tr>
    <td>Hi-Hat</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  <tr>
    <td>Snare</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  </tr>
  <tr>
    <td>Bass</td>
    <td>
      <input type="checkbox" />
      <div class="checkbox"></div>
    </td>
  </tr>
</table>

<button type="submit">Ok</button>
